img {
  position: absolute;
  margin: auto;
  padding-top: 10px;
}

#octopus {
  margin-left: 550px;
  margin-top: 200px;
  z-index: -1;
}

#hat {
  left: 530px;
  top: 120px;
  down: 70px;
}

#glasses {
  right: 300px;
  left: 300px;
  padding-top: 310px;
  padding-right: 100px;
  z-index: 1;
}
